In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('data.csv', delimiter=';')

In [6]:
print(df.dtypes)

operateur                          object
annee                               int64
filiere                            object
code_categorie_consommation        object
libelle_categorie_consommation     object
code_grand_secteur                 object
libelle_grand_secteur              object
code_naf                          float64
libelle_secteur_naf2               object
conso                             float64
pdl                                 int64
indqual                           float64
nombre_mailles_secretisees          int64
code_region                        object
libelle_region                     object
dtype: object

In [16]:
todrop = ['operateur', 'indqual', 'nombre_mailles_secretisees', 'code_grand_secteur']
df.drop(columns=todrop, axis=1, inplace=True)

In [18]:
print(df.isna().sum())

annee                                0
filiere                              0
code_categorie_consommation          0
libelle_categorie_consommation       0
libelle_grand_secteur                0
code_naf                          6985
libelle_secteur_naf2                 0
conso                                0
pdl                                  0
code_region                          0
libelle_region                       0
dtype: int64

In [20]:
df = df.dropna()
print(df.isna().sum())

annee                             0
filiere                           0
code_categorie_consommation       0
libelle_categorie_consommation    0
libelle_grand_secteur             0
code_naf                          0
libelle_secteur_naf2              0
conso                             0
pdl                               0
code_region                       0
libelle_region                    0
dtype: int64